body{
	margin: 0;
}
*{
	box-sizing: border-box;
}

.header{
	background-image:url("https://www.crawshaygallery.com/portfolio2019/New-York-Skyline-Black-White-cropped.jpg");
	width: 100%;
	color: white;
	text-align: center;
	padding: 100px;
}
.header h1{
	font-size: 60px;
}
.header p{
	font-size: 55;
}
.menu{
	background-color: #163589;	
	overflow: hidden;
}

.menu a{
	float: left;
	padding: 20px 20px;
	text-decoration: none;
	color: white;
}

.menu a.right{
	float:right;
}

.menu a:hover{
	background-color: #3C9BFA;
}

.main{
	width: 100%;
	height: 600px;
	background-color: #26292B; 
	color: white;
}

.side{
	float: left;
	width: 30%;
	background-color: #26292B;
	padding: 20px;
	height: 600px;
}

.content{
	float: left;
	width: 70%;
	padding: 20px
}

.content li{
}

.myimg{
	width: 100%;
	border-radius: 20px;

}

.footer{
	background-color: black;
	color: white;
	height: 200px;
	text-align: center;
}

ul{
	list-style: none;
}

.font-sansserif{
	font-family: 'Raleway', sans-serif;
}

.white{
	color: white;
}

.card_shadow{
	box-shadow: 11px 1px 10px #464B4F;
}