body{
	margin: 0;
}
*{
	box-sizing: border-box;
}

.header{
	background-image:url("https://www.destguides.com/dynamic-files/itinerary/451/background-image.jpg");
	width: 100%;
	color: white;
	text-align: center;
	padding: 100px;
}
.header h1{
	font-size: 60px;
}
.header p{
	font-size: 45;
}
.menu{
	background-color: #3C9BFA;	
	overflow: hidden;
}

.menu a{
	float: left;
	padding: 20px 20px;
	text-decoration: none;
	color: white;
}

.menu a.right{
	float:right;
}

.menu a:hover{
	background-color: #163589;
}

.main{
	width: 100%;
}

.side{
	float: left;
	width: 30%;
	background-color: lightgray;
	padding: 20px;
}

.content{
	float: left;
	width: 70%;
	padding: 20px
}

.content li{
}

.myimg{
	width: 100%;
	border-radius: 20px;

}